<section class="jumbotron text-center">
  <div class="container">
    <h1>
      Search GitHub Users
      <span class='footnote' data-toggle="tooltip" title="but <a href='<%= new_user_session_url %>'>Sign in</a> first"></span>
    </h1>
  </div>
</section>
